
body {
  font-family: "Lato", sans-serif;
}



.main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 60%; 
  }

  .sidenav{
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 50%;
  }

  .register-form{
      margin-top: 20%;
  }
}

label {
  color: #B4886B;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
  }


.login-main-text{
  margin-top: 20%;
  padding: 40px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: rgb(194, 30, 145) !important;      //#000
  color: #fff;
}

.has-error input[type="text"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}