body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: rgb(146, 106, 106);
  }
  
  /* Full-width input fields */
  input[type=text], input[type=file] {
    width: 100%;
    padding: 7px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=file]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  h1 {
      
    text-align: center;
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    margin-top: 25px;

   /* background-color: coral*/
  }

  h1.red-text {
    color: red;
  }
  
  /* Set a style for the submit button */
  .updatebtn {
    background-color: rgb(231, 14, 148);
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .updatebtn:hover {
    opacity: 2;
  }
  

 
  